{% extends "navegacion.html" %}
{% block title %} | password_change_form{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto my-5">
  <h1>Cambie su password</h1>
</div>
<div class="mx-auto"  style="width: 1950px;">
  <p>Use el formulario siguiente para cambiar su password:</p>
</div>
  <form method="post">
    <div class="col-md-6 mx-auto my-5">
    {{ form.as_p }}
      <input class="btn btn-success" type="submit" value="Cambiar Password">
  </div>
      {% csrf_token %}
  </form>
{% endblock content %}
