{% extends 'navegacion.html' %}
{% block title %}password_reset_confirm{% endblock %}
{% block content %}

<div class="col-md-6 mx-auto my-5">
  <h1>Reestablezca su password</h1>
</div>
  {% if validlink %}
  <div class="mx-auto"  style="width: 950px;">
    <p>Por favor digite su nuevo password dos veces:</p>
  </div>
    <form method="post">
      <div class="col-md-6 mx-auto my-5">
        {{ form.as_p }}
          <input class="btn btn-success" type="submit" value="Cambiar Password">
      </div>
      {% csrf_token %}
    </form>
  {% else %}
  <div class="col-md-6 mx-auto my-5">
    <p>El enlace para reestablecer el password no es valido, posiblemente porque ya ha sido usado. Por favor solicite reestablecer password de nuevo.</p>
  </div>
  {% endif %}
{% endblock %}
