{% extends 'navegacion.html' %}
{% block title %} | proceso_adicionar {% endblock %}
{% block content %}
<form method="POST" id="frmProceso" class="form-inline">
  {% csrf_token %}
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <h2>Adicionar Proceso</h2>
    </div>
  </div>
  <div class="col mr-2">
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-2 btn bg-light" style="border-color: #0d6efd; border-width:medium;">ID</div>
      <div class="col-4 btn" style="background-color: #0d6efd; color:#fff">
        <div class="input-group">
          {{ form.instance.id }}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2 btn bg-light" style="border-color: #0d6efd; border-width:medium;">Codigo Proceso
      </div>
      <div class=" col-4 btn" style="background-color: #0d6efd;">
        <div class="input-group">
          {{ form.codigo_proceso }}
        </div>
      </div>
      <div class="col-2 btn bg-light" style="border-color: #0d6efd; border-width:medium;">Nombre Proceso
      </div>
      <div class=" col-4 btn" style="background-color: #0d6efd;">
        <div class="input-group">
          {{ form.nombre_proceso }}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2 btn bg-light" style="border-color: #0d6efd; border-width:medium;">Descripcion</div>
      <div class="col-4 btn" style="background-color: #0d6efd">
        <div class="input-group">
          {{ form.descripcion_proceso }}
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-4">
        <button type="submit" class="btn mb-3" style="background-color: #0d6efd;"><i
            class="fas fa-server"></i>&nbsp;&nbsp; Guardar Cambios</button>
        <a href="{% url 'proceso_listado' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"
          title="Regresar"><i class="fa-solid fa-arrow-rotate-left"></i></a>
      </div>
    </div>
  </div>
</form>
{% endblock %}